body {
    .btn-common {
        border-radius: 8px;
        background-color: $button-common-bc;
        text-transform: none;
        color: $button-common-c;
        font-family: "Ubuntu-Medium";
        font-size: 16px;
        height: 47px;
        width: 100%;
        //min-width: 180px;
        span {
            position: relative;
        }

        i {
            position: relative;
            top: 3px;
        }
    }

    .btn-default {
        padding: 0 16px;
        border-radius: 8px;
        background-color: $button-common-bc;
        text-transform: none;
        color: $button-common-c;
        font-family: "Ubuntu-Medium";
        font-size: 16px;
        height: 38px;
        width: 100%;

        span {
            position: relative;
            top: -3px;
        }
    }

    .btn-default-resize {
        border-radius: 50%;
        width: 39px;
        height: 39px;
        padding: 0 10px;
        background-color: $button-common-bc;
        text-transform: none;
        color: $button-common-c;
        font-family: "Ubuntu-Medium";
        font-size: 16px;
        float: right;

        span {
            display: none;
        }
    }

    .btn-warning {
        border: 1px solid $button-common-bc;
        padding: 0 16px;
        border-radius: 8px;
        background-color: white;
        text-transform: none;
        color: $button-common-c;
        font-family: "Ubuntu-Medium";
        font-size: 16px;
        height: 38px;
        width: 100%;

        span {
            position: relative;
            top: -3px;
        }
    }

    .btn-Config {
        background-color: rgba(0, 105, 79, 0.83);
        color: #ffd204;
    }

    .btn-warv2,
    .btn-warv2:hover .btn-warv2:focus,
    .btn-warv2:visited {
        line-height: 8px;
        border-radius: 8px;
        background-color: #e1f5fe;
        text-transform: none;
        color: #0288d1;
        font-family: "Ubuntu-Medium";
        font-size: 16px;
        height: 35px;
        min-width: 100px;
        padding: 10px;
        text-align: left;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 5px;

        i {
            font-size: 15px;
        }

        span {
            font-size: 11px;
        }

        small {
            font-size: 11px;
            color: #d9d9d9;
        }
    }

    .btn-war,
    .btn-war:hover,
    .btn-war:focus,
    .btn-war:visited {
        line-height: 13px;
        border-radius: 8px;
        background-color: #e1f5fe;
        text-transform: none;
        color: #0288d1;
        font-family: "Ubuntu-Medium";
        font-size: 16px;
        height: 47px;
        min-width: 100px;
        padding-left: 50px;
        text-align: left;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 5px;

        i {
            font-size: 22px;
            padding: 10px;
            position: absolute;
            left: 0;
        }

        span {
            font-size: 11px;
        }

        small {
            font-size: 11px;
            color: #d9d9d9;
        }
    }

    .a-link {
        i {
            font-size: 17px;
            color: #9b9b9b;
            width: 25px;
        }

        span {
            position: relative;
            top: -5px;
            font-size: 12px;
        }
    }

    .btn-container {
        display: block;

        button {
            float: right;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (min-width: 601px) {
  body {
    .btn-common {
      width: 80%;
      //min-width: 234px;
    }

    .btn-default-resize {
      padding: 0 16px;
      border-radius: 8px;
      background-color: $button-common-bc;
      text-transform: none;
      color: $button-common-c;
      font-family: "Ubuntu-Medium";
      font-size: 16px;
      height: 38px;
      width: 100%;

      span {
        display: initial;
        position: relative;
        top: -3px;
      }
    }

    .btn-container {
      display: block;

      button {
        float: right;
        //max-width: 180px;
        width: auto;
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .btn-warning {
    &.w-r-50 {
      width: calc(50% - 10px);
      margin-left: 0;
      margin-right: 10px;
    }

    &.w-l-50 {
      width: calc(50% - 10px);
      margin-left: 10px;
    }
  }
}
