@import "variables","label", "button", "input", "fonts", "navbar", "sidebar", "modal", "table";

body {
    font-family: "Ubuntu";
  }
  .subtituloRep {
      width: 475px;
      font-family: Ubuntu;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.39px;
      color: #00694f;
      font-weight: bold;
  }
  
  .titulo-web {
      width: 475px;
      height: 47px;
      font-family: Ubuntu;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.39px;
      color: #00694f;
      font-weight: bold;
  }
  
  h1.title {
      font-family: Ubuntu;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #41af4f;
      border-left: 10px solid #ffd204;
      padding-left: 10px;
      margin: 10px 0;
  }
  
  .container-detail {
      background-color: #f3f3ee;
      padding: 15px;
      height: 90vh;
  }
  
  .row.no-pad-top,
  .container.no-pad-top,
  .container-detail.no-pad-top {
      padding-top: 0px;
  }
  
  .row.no-pad-bot,
  .container.no-pad-bot,
  .container-detail.no-pad-bot {
      padding-bottom: 0px;
  }
  
  .row.no-mar-bot,
  .container.no-mar-bot,
  .container-detail.no-mar-bot {
      margin-bottom: 0px;
  }

  .dropdown-content-button,
.dropdown-content-button:hover,
.dropdown-content-button:focus,
.dropdown-content-button:visited {
    background-color: #f3f3ee;
    color: #c5c5ce;
    padding: 0 5px;
    border-radius: 50%;
    box-shadow: none;
}

// #modal-seleccion-perfil {
//     width: 40%;
// }


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1200;
    display: none;
    text-align: center;

    &.on {
        opacity: 1;
        display: block;
    }

    .preloader-wrapper {
        top: 40%;
    }
}

.nav-short {
    height: 23px;
    line-height: 23px;
}

.row.no-pad-top, .container.no-pad-top, .container-detail.no-pad-top {
    padding-top: 0px;
}

.row.no-pad-bot, .container.no-pad-bot, .container-detail.no-pad-bot {
    padding-bottom: 0px;
}

.row.no-mar-bot, .container.no-mar-bot, .container-detail.no-mar-bot {
    margin-bottom: 0px;
}

.btn-medium {
    max-width: 180px;
}

.collapsible-body.active {
    background-color: #bda005 !important;
}

.collapsible-body.active a {
    color: white !important;
}

.no-margin {
    margin: 0px !important;
}