<div class="card-panel row layout-card-gray-2">
  <div class="row no-mar-bot">
    <div class="col s12 m12 l12">
      <div class="col s12">
        <span class="text-lg mb-4" style="padding-bottom: 16px"
          >Datos Generales</span
        >
        <div class="divider mt-10"></div>
      </div>
    </div>
  </div>

  <div class="row no-mar-bot">
    <form novalidate [formGroup]="datosGenerales">
      <div class="row no-mar-bot">
        <div class="col s12 m12 l6">
          <div class="input-field input-field-common col lbl-sar-mat-select s12">
            <mat-form-field class="w-full">
              <mat-label>Analista</mat-label>
              <mat-select formControlName="analista">
                 <ng-container *ngFor="let analista of lAnalistas">
                                  <mat-option [value]="analista.codUsuario">{{analista.nombresApellidos}}</mat-option>
                              </ng-container> 
              </mat-select>
            </mat-form-field>
            <div *ngIf="f?.analista?.invalid && (f?.analista?.touched || f?.analista?.dirty)">
              <div *ngIf="f.analista.errors?.required">
                <span class="text-danger">* Ingrese Analista</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l6">
          <div class="input-field col s12 w-full" >
            <mat-form-field class="w-full">
              <mat-label>Ticket de requerimiento</mat-label>
              <input
                matInput 
                formControlName="ticket"
                type="text"
                class="removeMaterialize"
                maxlength="15"
                simpleSpaces
              />
            </mat-form-field>
             <div *ngIf="f.ticket.invalid && (f.ticket.touched || f.ticket.dirty)">
              <div *ngIf="f.ticket.errors?.required">
                <span class="text-danger">* Ingrese Ticket de requerimiento</span>
              </div>
            </div>
            <!-- <label class="label-input-sar" for="ticket">Ticket de requerimiento</label> -->
          </div>
         
        </div>
      </div>

      <div class="row no-mar-bot">
        <div class="col s12 m12 l12">
          <div class="input-field col s12 w-full">
            <mat-form-field class="w-full">
              <mat-label>Descripción</mat-label>
              <input 
                matInput 
                formControlName="descripcion" 
                type="text" 
                class="removeMaterialize" 
                maxlength="300" 
                simpleSpaces
                />
      
            </mat-form-field>
            <!-- <label for="descripcion">Descripción</label> -->
            <div *ngIf="f.descripcion.invalid && (f.descripcion.touched || f.descripcion.dirty)">
              <div *ngIf="f.descripcion.errors?.required">
                <span class="text-danger">* Ingrese Descripción</span>
              </div>
            </div>
          </div>
      
        </div>
      </div>

      <div *ngIf="tipoPase !== eAS400_IBS" class="row no-mar-bot">
        <div class="col s12 m12 l12">
          <div
            class="input-field col s12 w-full"
          >
          <mat-form-field class="w-full">
            <mat-label>Ubicación de fuente</mat-label>
            <input
              matInput
              formControlName="fuente"
              type="text"
              class="removeMaterialize"
              maxlength="300"
              simpleSpaces
            />
          </mat-form-field>
          <div *ngIf="f.fuente.invalid && (f.fuente.touched || f.fuente.dirty)">
            <div *ngIf="f.fuente.errors?.required">
              <span class="text-danger">* Ingrese Ubicación de fuente</span>
            </div>
          </div>
            <!-- <label for="fuente">Ubicación de fuente</label> -->
          </div>
          
        </div>
      </div>

      <div *ngIf="tipoPase !== eAS400_IBS" class="row no-mar-bot">
        <div class="col s12 m12 l12">
          <div class="input-field col s12 m12 l4">
            <div>
              <label for="" style="font-size: 1rem">Pase interno</label>
            </div>
          </div>
          <div class="col s12 m12 l3">
            <div style="margin-top: 13px">
              <label style="padding-right: 30px">
                <input class="with-gap" name="paseInterno" formControlName="paseInterno" type="radio" value="1" />
                <span>Si</span>
              </label>
              <label>
                <input class="with-gap" name="paseInterno" formControlName="paseInterno" type="radio" value="0" />
                <span>No</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- AS400 -->
      <div *ngIf="tipoPase === eAS400_IBS" class="row no-mar-bot">
        
        <div class="col s12 m12 l4">
          <div class="input-field input-field-common col lbl-sar-mat-select s12">
            <mat-form-field class="w-full">
              <mat-label>Librería Fuente</mat-label>
              <mat-select formControlName="libreriaFuente">
                <!-- <mat-option value="">LibreriaFuente</mat-option> -->
                <ng-container *ngFor="let fuentes of lFuentes">
                                  <mat-option [value]="fuentes.valor">{{fuentes.descripcion}}</mat-option>
                              </ng-container> 
              </mat-select>
            </mat-form-field>
            <div *ngIf="f.libreriaFuente.invalid && (f.libreriaFuente.touched || f.libreriaFuente.dirty)">
              <div *ngIf="f.libreriaFuente.errors?.required">
                <span class="text-danger">* Ingrese Librería Fuente</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col s12 m12 l4">
          <div class="input-field input-field-common col lbl-sar-mat-select s12">
            <mat-form-field class="w-full">
              <mat-label>Librería Objeto (Otros)</mat-label>
              <mat-select formControlName="libreriaObjeto">
                <!-- <mat-option value="">LibreriaObjeto</mat-option> -->
                 <ng-container *ngFor="let objetos of lObjetos">
                                  <mat-option [value]="objetos.valor">{{objetos.descripcion}}</mat-option>
                              </ng-container> 
              </mat-select>
            </mat-form-field>
            <div *ngIf="f.libreriaObjeto.invalid && (f.libreriaObjeto.touched || f.libreriaObjeto.dirty)">
              <div *ngIf="f.libreriaObjeto.errors?.required">
                <span class="text-danger">* Ingrese Librería Objeto</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m12 l4">
          <div class="input-field input-field-common col lbl-sar-mat-select s12">
            <mat-form-field class="w-full">
              <mat-label>Librería Objeto (PF y LF)</mat-label>
              <mat-select formControlName="libreriaObjetoPFLF">
                <!-- <mat-option value="">LibreriaObjetoPFLF</mat-option> -->
                <ng-container *ngFor="let ObjetosPFyLF of lObjetosPFyLF">
                                  <mat-option [value]="ObjetosPFyLF.valor">{{ObjetosPFyLF.descripcion}}</mat-option>
                              </ng-container>
              </mat-select>
            </mat-form-field>
            <div *ngIf="f.libreriaObjetoPFLF.invalid && (f.libreriaObjetoPFLF.touched || f.libreriaObjetoPFLF.dirty)">
              <div *ngIf="f.libreriaObjetoPFLF.errors?.required">
                <span class="text-danger">* Ingrese Librería Objeto PF y LF</span>
              </div>
            </div>
          </div>
        </div>        

      </div>

      <div *ngIf="tipoPase === eAS400_IBS" class="row no-mar-bot">
        <div class="col s12 m12 l12">
          <div class="input-field col s12 m12 l4">
            <div>
              <label for="" style="font-size: 1rem">Tipo de Pase por</label>
            </div>
          </div>
          <div class="col s12 m12 l8">
            <div style="margin-top: 13px">
              <label style="padding-right: 30px">
                <input class="with-gap" formControlName="motivoPase" name="motivoPase" type="radio" value="1" />
                <span>Desarrollo</span>
              </label>
              <label>
                <input class="with-gap" formControlName="motivoPase" name="motivoPase" type="radio" value="2" />
                <span>Mantenimiento</span>
              </label>
              <label style="padding-left: 25px">
                <input class="with-gap" formControlName="motivoPase" name="motivoPase" type="radio" value="3" />
                <span>Incidencia</span>
              </label>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
