<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4">Pruebas y/o Sustento</span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>

    <div class="row no-mar-bot">
        <form novalidate>
          <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file1 type="file" (change)="changeFile1($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file1Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile1()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file2 type="file" (change)="changeFile2($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file2Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile2()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file3 type="file" (change)="changeFile3($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file3Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile3()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file4 type="file" (change)="changeFile4($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file4Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile4()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file5 type="file" (change)="changeFile5($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file5Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile5()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file6 type="file" (change)="changeFile6($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file6Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile6()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file7 type="file" (change)="changeFile7($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file7Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile7()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                            <i class="material-icons">attach_file</i>
                            <div class="">
                                <input #file8 type="file" (change)="changeFile8($event)">
                            </div>
                            <div class="file-path-wrapper w-full">
                                <input #file8Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                            <i (click)="removeFile8()" style="cursor: pointer;" class="material-icons">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
          <div class="col s6">
              <div class="row">
                  <div class="col s11">
                      <div class="file-field input-field flex align-items-center">
                          <i class="material-icons">attach_file</i>
                          <div class="">
                              <input #file9 type="file" (change)="changeFile9($event)">
                          </div>
                          <div class="file-path-wrapper w-full">
                              <input #file9Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                          </div>
                          
                      </div>
                  </div>
                  <div class="col s1" style="padding: 0;">
                      <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                          <i (click)="removeFile9()" style="cursor: pointer;" class="material-icons">close</i>
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="col s6">
              <div class="row">
                  <div class="col s11">
                      <div class="file-field input-field flex align-items-center">
                          <i class="material-icons">attach_file</i>
                          <div class="">
                              <input #file10 type="file" (change)="changeFile10($event)">
                          </div>
                          <div class="file-path-wrapper w-full">
                              <input #file10Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                          </div>
                          
                      </div>
                  </div>
                  <div class="col s1" style="padding: 0;">
                      <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                          <i (click)="removeFile10()" style="cursor: pointer;" class="material-icons">close</i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" >
        <div class="col s6">
            <div class="row">
                <div class="col s11">
                    <div class="file-field input-field flex align-items-center">
                        <i class="material-icons">attach_file</i>
                        <div class="">
                            <input #file11 type="file" (change)="changeFile11($event)">
                        </div>
                        <div class="file-path-wrapper w-full">
                            <input #file11Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                        </div>
                        
                    </div>
                </div>
                <div class="col s1" style="padding: 0;">
                    <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                        <i (click)="removeFile11()" style="cursor: pointer;" class="material-icons">close</i>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s11">
                    <div class="file-field input-field flex align-items-center">
                        <i class="material-icons">attach_file</i>
                        <div class="">
                            <input #file12 type="file" (change)="changeFile12($event)">
                        </div>
                        <div class="file-path-wrapper w-full">
                            <input #file12Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                        </div>
                        
                    </div>
                </div>
                <div class="col s1" style="padding: 0;">
                    <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                        <i (click)="removeFile12()" style="cursor: pointer;" class="material-icons">close</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
      <div class="col s6">
          <div class="row">
              <div class="col s11">
                  <div class="file-field input-field flex align-items-center">
                      <i class="material-icons">attach_file</i>
                      <div class="">
                          <input #file13 type="file" (change)="changeFile13($event)">
                      </div>
                      <div class="file-path-wrapper w-full">
                          <input #file13Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                      </div>
                      
                  </div>
              </div>
              <div class="col s1" style="padding: 0;">
                  <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                      <i (click)="removeFile13()" style="cursor: pointer;" class="material-icons">close</i>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="col s6">
          <div class="row">
              <div class="col s11">
                  <div class="file-field input-field flex align-items-center">
                      <i class="material-icons">attach_file</i>
                      <div class="">
                          <input #file14 type="file" (change)="changeFile14($event)">
                      </div>
                      <div class="file-path-wrapper w-full">
                          <input #file14Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                      </div>
                      
                  </div>
              </div>
              <div class="col s1" style="padding: 0;">
                  <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                      <i (click)="removeFile14()" style="cursor: pointer;" class="material-icons">close</i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row" >
    <div class="col s6">
        <div class="row">
            <div class="col s11">
                <div class="file-field input-field flex align-items-center">
                    <i class="material-icons">attach_file</i>
                    <div class="">
                        <input #file15 type="file" (change)="changeFile15($event)">
                    </div>
                    <div class="file-path-wrapper w-full">
                        <input #file15Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                    </div>
                    
                </div>
            </div>
            <div class="col s1" style="padding: 0;">
                <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                    <i (click)="removeFile15()" style="cursor: pointer;" class="material-icons">close</i>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col s6">
        <div class="row">
            <div class="col s11">
                <div class="file-field input-field flex align-items-center">
                    <i class="material-icons">attach_file</i>
                    <div class="">
                        <input #file16 type="file" (change)="changeFile16($event)">
                    </div>
                    <div class="file-path-wrapper w-full">
                        <input #file16Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                    </div>
                    
                </div>
            </div>
            <div class="col s1" style="padding: 0;">
                <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                    <i (click)="removeFile16()" style="cursor: pointer;" class="material-icons">close</i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" >
  <div class="col s6">
      <div class="row">
          <div class="col s11">
              <div class="file-field input-field flex align-items-center">
                  <i class="material-icons">attach_file</i>
                  <div class="">
                      <input #file17 type="file" (change)="changeFile17($event)">
                  </div>
                  <div class="file-path-wrapper w-full">
                      <input #file17Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                  </div>
                  
              </div>
          </div>
          <div class="col s1" style="padding: 0;">
              <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                  <i (click)="removeFile17()" style="cursor: pointer;" class="material-icons">close</i>
              </div>
          </div>
      </div>
      
  </div>
  <div class="col s6">
      <div class="row">
          <div class="col s11">
              <div class="file-field input-field flex align-items-center">
                  <i class="material-icons">attach_file</i>
                  <div class="">
                      <input #file18 type="file" (change)="changeFile18($event)">
                  </div>
                  <div class="file-path-wrapper w-full">
                      <input #file18Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                  </div>
                  
              </div>
          </div>
          <div class="col s1" style="padding: 0;">
              <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                  <i (click)="removeFile18()" style="cursor: pointer;" class="material-icons">close</i>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" >
  <div class="col s6">
      <div class="row">
          <div class="col s11">
              <div class="file-field input-field flex align-items-center">
                  <i class="material-icons">attach_file</i>
                  <div class="">
                      <input #file19 type="file" (change)="changeFile19($event)">
                  </div>
                  <div class="file-path-wrapper w-full">
                      <input #file19Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                  </div>
                  
              </div>
          </div>
          <div class="col s1" style="padding: 0;">
              <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                  <i (click)="removeFile19()" style="cursor: pointer;" class="material-icons">close</i>
              </div>
          </div>
      </div>
      
  </div>
  <div class="col s6">
      <div class="row">
          <div class="col s11">
              <div class="file-field input-field flex align-items-center">
                  <i class="material-icons">attach_file</i>
                  <div class="">
                      <input #file20 type="file" (change)="changeFile20($event)">
                  </div>
                  <div class="file-path-wrapper w-full">
                      <input #file20Placeholder class="file-path validate" type="text" placeholder="Tamaño máximo 12 MB">
                  </div>
                  
              </div>
          </div>
          <div class="col s1" style="padding: 0;">
              <div class="file-field input-field flex align-items-center" style="margin-top: 2.5rem;">
                  <i (click)="removeFile20()" style="cursor: pointer;" class="material-icons">close</i>
              </div>
          </div>
      </div>
  </div>
</div>
           
        </form>
    </div>
</div>    