<div class="card-panel row layout-card-gray-2">
  <div class="row no-mar-bot">
    <div class="col s12 m12 l12">
      <div class="col s12">
        <span class="text-lg mb-4" style="padding-bottom: 16px">Objetos</span>
        <div class="divider mt-10"></div>
      </div>
    </div>
  </div>

  <div class="row no-mar-bot">
    <form [formGroup]="objetos">
      
      <table cellpadding="0" cellspacing="0" width="100%" >
        <tbody>
          <tr>
            <th>QDDSSRC</th>
            <th>Parámetros u Observaciones</th>
            <th>QCLSRC</th>
            <th>Parámetros u Observaciones</th>
            <th>QRPGSRC</th>
            <th>Parámetros u Observaciones</th>
          </tr>
          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto1_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto1_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto2_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto2_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto3_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto3_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto4_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto4_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto5_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto5_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto6_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto6_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto7_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto7_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto8_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto8_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto9_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto9_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto10_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto10_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto11_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto11_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto12_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto12_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto13_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto13_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto14_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto14_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto15_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto15_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto16_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto16_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto17_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto17_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto18_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto18_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto19_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto19_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto20_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto20_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto21_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto21_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto22_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto22_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto23_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto23_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto24_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto24_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto25_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto25_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto26_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto26_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto27_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto27_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto28_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto28_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto29_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto29_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto30_nombre"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
            <td>
              <div class="w-full">
                <input
                  formControlName="objeto30_descripcion"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </form>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>