<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4" style="padding-bottom: 16px"
            >Flujo del Reporte</span
          >
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>
  
    <div class="row no-mar-bot">
      <form novalidate [formGroup]="flujo">
        <div class="row no-mar-bot">
          <div class="col s12 m12 l12">
              <mat-form-field class="example-full-width" appearance="fill" style="display: contents">
                  <mat-label></mat-label>
                  <textarea style="height: 200px;" matInput placeholder="" formControlName="descripcionFlujo" readonly ></textarea>
              </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  