<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Pases a Producción</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro" >           
            <div class="row no-mar-bot">             
              <div class="col s12 m6 l3">
                <div class="input-field input-field-common lbl-sar-mat-select col s10">
                    <mat-form-field class="w-full-a">
                        <mat-label>Tipo Plataforma</mat-label>
                        <mat-select formControlName="CodTipoPlataforma">
                            <mat-option value="-1">Todos</mat-option>
                            <ng-container *ngFor="let tipoPlataforma of tiposPlataforma">
                                <mat-option value="{{tipoPlataforma.codTipoPlataforma}}">{{tipoPlataforma.descripcion}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

              </div>
              <div class="col s12 m6 l1"></div>
              <div class="col s12 m6 l3">
                <div class="input-field input-field-common lbl-sar-mat-select col s10">
                    <mat-form-field class="w-full-a">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="CodEstado">                           
                                <mat-option value="-1">Todos</mat-option>
                                <ng-container *ngFor="let estado of estados">
                                    <mat-option value="{{estado.id}}">{{estado.descripcion}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>
              <div class="col s12 m6 l1"></div>
              <div class="col s12 m6 l2">               
                <button  (click)="buscarListaPases()" class="btn btn-default-resize"  style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons"></i>
                </button>
              </div>            
              <div class="col s12 m6 l2">               
                <button (click)="ExportarExcel()" class="btn waves-effect waves-light btn-default-resize" style="margin-top:23px;">
                    <span>Exportar a excel</span>
                    <i class="material-icons"></i>
                </button>
              </div>            
            </div>
            <div class="row no-mar-bot">  
                <div class="col s12 m6 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s10">
                        <mat-form-field class="mat-form-field-dpicker-sar">
                            <mat-label>F. Registro Inicio</mat-label>
                            <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"   formControlName="FechaRegistroIni" 
                            [max]="busquedaFiltro.value.FechaRegistroFin" 
                            (keypress)="($event.charCode >= 47 && $event.charCode < 58)">
                            <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #miDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> 
                <div class="col s12 m6 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s10">
                        <mat-form-field class="mat-form-field-dpicker-sar">
                            <mat-label>F. Registro Fin</mat-label>
                            <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker2"  
                            formControlName="FechaRegistroFin" [min]="busquedaFiltro.value.FechaRegistroIni"
                            (keypress)="($event.charCode >= 47 && $event.charCode < 58)">
                            <mat-datepicker-toggle matSuffix [for]="miDatepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #miDatepicker2></mat-datepicker>
                            <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FechaRegistroFin')?.errors">
                                El valor debe ser mayor o igual a F. Registro Inicio.
                            </div>
                        </mat-form-field>
                    </div>
                </div>  
                
                <div *ngIf="this.cPerfil === eANA" class="col s2 m6 l2 offset-s1">
                    <button (click)="nuevoFormulario()" class="btn btn-default-resize" style="margin-top:23px;">
                        <span>Nuevo Formulario</span>
                        <i class="material-icons"></i>
                    </button>
                </div> 
                
                <div class="col s2 m6 l2 offset-s7">
                    
                </div>
        </div>
       
    </form>
 </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="requerimiento-grid">
        <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
        <table mat-table [dataSource]="listaRegistroPase" matSort class="mat-elevation-z8"> 
            <ng-container matColumnDef="idPase">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idPase}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="creadoPor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creador </th>
                <td mat-cell *matCellDef="let element"> {{element.creadoPor}} </td>
            </ng-container>
            <ng-container matColumnDef="aprobadoPor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Aprobado por </th>
                <td mat-cell *matCellDef="let element"> {{element.aprobadoPor}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaRegistro" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: 'dd/MM/yyyy'}} </td>
            </ng-container>             
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            <ng-container matColumnDef="pase">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pase interno </th>
                <td mat-cell *matCellDef="let element"> {{element.pase}} </td>
            </ng-container>
            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element">
                <i (click)="verDetalle(element.idPase)" class="material-icons" style="cursor: pointer;">visibility</i>
             </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
